body {
  margin: 0;
  display: flex;
}
main {
  background-color: rgb(48, 46, 46);
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main_header {
   margin: 0;
   height: clamp(150px, 25vh, 200px);
}
.top_image {
  height: clamp(150px, 25vh, 200px);
  width: 100%;
}
aside {
  width: 25%;
  min-width: 210px;
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 40, 40);
  /* border-right: 1px rgb(204, 203, 203) solid; */
}
ul {
  background-color: rgb(71, 71, 247);
  list-style: none;
  padding: 0;
  margin: 0;
  height: 120px;
}
div {
  height: 300px;
  background-color: rgb(71, 71, 247);
  margin-top: auto;
}